  <!--<div  *ngFor="let c of content; let i=index">
    <h4>{{c.title}}{{i}}</h4>
    <p>{{c.text}}</p>
  </div>-->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" *ngFor="let c of content; let i=index">
    <div class="panel-heading" role="tab" attr.id="heading{{i}}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" attr.href="#collapse{{i}}" [attr.aria-expanded]="(i==0)?'true':'false'" attr.aria-controls="collapse{{i}}">
          {{c.title}}
        </a>
      </h4>
    </div>
    <div attr.id="collapse{{i}}" class="panel-collapse collapse" [class.in]="i==0" role="tabpanel" attr.aria-labelledby="heading{{i}}">
      <div class="panel-body">
        {{c.text}}
      </div>
    </div>
  </div>
</div>

<!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Welcome
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Welcome to the OFG Trading, LLC website.  Please feel free to browse each page on our site as an introduction to our company.      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Code of Ethics
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Here at OFG Trading, LLC, old fashion honesty, integrity and a strong work ethic are the foundation of our company.  We are dedicated to a relentless quest to be one of the premier Trading Companies in the world as defined by the Return on Investment that we produce.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Company Profile
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        OFG Trading, LLC was founded in January of 2004 by a core group of conservative businessmen for two specific purposes.  
        The first purpose was to take advantage of the leverage offered by more complex trading instruments and strategies to 
        generate capital for specific philanthropic endeavors.  The second was to use these 
        same instruments to generate a return on investment  for those who hold an interest in OFG that many 
        brokers or money managers were unable to produce.   
      </div>   
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Investments
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        OFG Trading, LLC is a privately owned, closely held, trading entity.  As such, OFG is fully funded by its current Members, is self-contained and there are no Investment opportunities of any kind available.  OFG Trading, LLC is registered with the National Futures Association as a 4.13(a)(2)exempt commodity pool.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Strategies
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        OFG uses a number of proprietary stategies that we have developed and documented over many years of research.  
        These strategies are currently being used on a number of live accounts in a variety of markets with both manual 
        and computer generated trade executions.      
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Our Team
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        We are very excited and proud of the team that we have assembled for our various projects.  
        The diverse backgrounds of our Members, Affiliates and Associates consists of Multiple Business Owners and Developers, 
        Analysts, Strategists, a Licensed Broker as well as two of the top Financial Software Programmers in the industry. 
        Specific biographical information is being compiled for each of our Professionals.      
      </div>
    </div>
  </div>
</div>-->
