<div class="bs-component">
  <ul class="nav nav-tabs">
    <li [class]="(i==0) ? 'active':''" *ngFor="let c of content | slice:1; let i=index">
       <a *ngIf="i==0" attr.href="#Tab{{i}}" data-toggle="tab">Welcome</a>
       <a class="hidden-xs hidden-sm hidden-md" *ngIf="i>0" attr.href="#Tab{{i+1}}" data-toggle="tab">{{c.title}}</a>
       <a class="hidden-xs hidden-sm hidden-lg" *ngIf="i>0" attr.href="#Tab{{i+1}}" data-toggle="tab">{{c.abrev}}</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div [class]="(i==0) ? 'tab-pane fade active in' : 'tab-pane fade'" attr.id="Tab{{i}}" *ngFor="let c of content; let i=index">
      <div *ngIf="i==0">
        <div class="row" style="margin: 20px 15px 15px 15px">
          <div class="col-md-6">
            <h4>{{c.title}}</h4>
            <p>{{c.text}}</p>
          </div>
          <div class="col-md-6">
            <h4>{{content[i+1].title}}</h4>
            <p>{{content[i+1].text}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="i>=2">
        <div  style="margin:20px 15px 15px 15px">
          <h4>{{c.title}}</h4>
          <p>{{content[i].text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
