<div id="animationContainer">
  <app-animation-test id="openingAnimation" (onSkipAnimation)="onSkipAnimation()"></app-animation-test>
</div>
<div id="mainWebsite" class="website website-transition">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
          <img class= "center-block hidden-sm hidden-xs" src="assets/original-artwork/ofg-large-logo-with-background.jpg" alt="" style="width:480px">
          <img id="logo-small" class= "center-block hidden-md hidden-lg background-w-logo-sm" src="assets/original-artwork/ofg-opening-background-w-logo-sm.jpg" alt="">
      </div>
      <div class="col-md-7 center-block">
        <div class="hidden-sm hidden-xs" style="height:60px"></div>
        <app-carousel class="hidden-sm hidden-xs"></app-carousel>
        <app-accordian class="hidden-lg hidden-md"></app-accordian>
        <app-tabs class="hidden-xs hidden-sm"></app-tabs>
        <app-carousel class= "hidden-md hidden-lg"></app-carousel>
      </div>
    </div>
  </div>
</div>

