.website {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -499px;
  z-index: 5;
}

.website-transition {
  animation: websiteAnimation 24s linear ;
}

@keyframes 
websiteAnimation {
    0% {opacity: 0}
    95% {opacity: 0}
    100% {opacity: 1}
}