<img  id="opening-background" class="background background-transition"  src="assets/ofg-opening-background-no-logo.jpg" alt="" style="position:relative;z-index:-1">
<img  id="opening-logo-lg" class="background-transition logo-lg hidden-xs hidden-sm hidden-md"  src="assets/ofg-opening-logo.jpg" alt="" (click)="skipAnimation()">
<img  id="opening-logo-md" class="background-transition logo-md hidden-xs hidden-lg"  src="assets/ofg-opening-logo.jpg" alt="" (click)="skipAnimation()">
<img  id="opening-logo-xs" class="background-transition logo-xs hidden-sm hidden-md hidden-lg"  src="assets/ofg-opening-logo.jpg" alt="" (click)="skipAnimation()">
<div id="opening-pictures" class="crossfade crossfade-transition">
  <figure></figure>
  <figure></figure>
  <figure></figure>
</div>
