<img  id="opening-background" class="background background-lg background-transition hidden-xs hidden-sm"  src="assets/ofg-opening-background-no-logo.jpg" alt="" style="position:relative;z-index:-1">
<img  id="opening-background-sm" class="background background-sm background-transition hidden-md hidden-lg"  src="assets/ofg-opening-background-no-logo-sm.jpg" alt="" style="position:relative;z-index:-1">
<img  id="opening-logo-lg" class="background-transition logo-lg hidden-xs hidden-sm hidden-md"  src="assets/ofg-opening-logo.jpg" alt="" (click)="skipAnimation()">
<img  id="opening-logo-md" class="background-transition logo-md hidden-xs hidden-lg"  src="assets/ofg-opening-logo.jpg" alt="" (click)="skipAnimation()">
<img  id="opening-logo-xs" class="background-transition logo-xs hidden-sm hidden-md hidden-lg"  src="assets/ofg-opening-logo.jpg" alt="" (click)="skipAnimation()">
<div id="opening-pictures" class="crossfade crossfade-lg crossfade-transition hidden-xs hidden-sm">
  <figure></figure>
  <figure></figure>
  <figure></figure>
</div>
<div id="opening-pictures-sm" class="crossfade crossfade-sm crossfade-transition hidden-md hidden-lg">
  <figure></figure>
  <figure></figure>
  <figure></figure>
</div>
