<div class="center-block" style="position:relative">
  <!--<div class="center-block" id="carousel-example-generic" class="carousel slide carousel-fade" data-interval="3000"  data-wrap="false" data-ride="carousel" style="position:relative;left:338px;top:26px">-->
  <div class="center-block" id="carousel-example-generic" class="carousel slide carousel-fade" data-interval="3000"  data-wrap="false" data-ride="carousel" style="z-index:2">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <div [class]="(i == 0) ? 'item active' : 'item'" *ngFor="let image of images; let i=index">
        <img class="center-block carousel-picture" [src]="image" alt="..."  style="position:relative;top:28px;z-index:2">
      </div>
    </div>
  </div>
    <img  class="center-block"  src="assets/ofg-opening-background.jpg" alt="" style="position:relative;z-index:-1">

</div>